.main-output {
  flex: 2;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-output canvas {
  width: 100%;
  height: 100%;
  display: block;
}
